$black-color: rgba(0,0,0,0.87) ;

body {
    height: 100%;
    width: 100%;
    background-color: $black-color;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.ui.borderless.center.aligned.container {
    margin-top: 2em;
    margin-bottom: 1em;
    display: block;
}

#monitor {
    fill: white;
}

#label {
    color: white;
}

#info {
    display: inline-block;
}

#heatmap {
    height: 450px;
    display: block;
    width: 1000px;
}

#heatmap text {
    fill: white;
}

rect.bordered {
    stroke: #E6E6E6;
    stroke-width:1px;
}

#map {
    position: relative;
    height: 200px;
    width: 300px;
}
