$black-color: #333 ;

body {
    height: 100%;
    width: 100%;
    background-color: dimgray;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#monitor {
    fill: white;
}

#label {
    color: white;
}

#info {
    width: 500px;
}

#heatmap {
    height: 450px;
    display: inline-block;
    width: 900px;
}

#heatmap text {
    fill: white;
}

rect.bordered {
    stroke: #E6E6E6;
    stroke-width:2px;
}
